/* App.css */
body {
  background-color: #f7f1e3;
}

h1 {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5%;
}

.todo-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.todo-list {
  max-width: 500px;
  width: 100%;
}

.sticky-note {
  background-color: #ffffcc;
  padding: 10px;
  margin-bottom: 10px;
  border: 0.5px solid #ffcc00;
  border-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-left: 15px solid #ffcc00
}

.todo-item {
  display: flex;
  align-items: center;
}

.todo-text {
  margin-left: 10px;
}

.todo-text.completed {
  text-decoration: line-through;
}

.delete-btn {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: #ff5252;
  cursor: pointer;
}

.delete-btn:hover {
  color: #b33939;
}

.todo-form {
  background-color: #f9f9f9;
  padding: 20px;
  border: 2px solid #e6e6e6;
  border-radius: 10px;
  width: 60%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.todo-input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.add-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.add-btn:hover {
  background-color: #0056b3;
}

.edit-btn {
  background-color: #fff;
  color: #34ace0;
  border: 1px solid #34ace0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 5px;
  cursor: pointer;
}

.edit-btn:hover {
  background-color: #227093;
  color: #fff;
}

.edit-input {
  flex: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.save-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #0056b3;
}

/* Additional styles for two-column list */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 20px; /* Gap between grid items */
}

.list-item {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.button-container {
  display: flex;
  align-items: center;
}

.edit-btn, .delete-btn {
  margin-left: 5px;
  cursor: pointer;
}

.todo-text  {
  font-weight: 500;
  font-size: 20px;;
}